.App {
  text-align: center;
}

.container {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1000px;
  background: gray;
  padding-bottom: 10px;
}

.users {
  display: flex;
  align-items: center;
  min-height: 25px;
  justify-content: space-between;
  padding: 0px 0px 0px 20px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  background: white;
  margin: 10px;
}

.users p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.like_button {
  margin-right: 5px;
}

.user__card {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 400px;
  max-height: 500px;
  background: grey;
}

.user__card p {
  background: white;
  border-radius: 5px 10px;
  margin: 5px;
}